<table>
<tbody>
<tr>
<td style="border-top: 1px solid #000000; border-bottom: none; border-left: none; border-right: none; padding: 0.02in 0in 0in 0in;" colspan="7" width="622">
<p align="left"><strong>Technologinis apra&scaron;ymas:</strong> {{notes}}</p>
<p align="left"><strong>Technologinis apra&scaron;ymas:</strong> {{describe}}</p>
<p align="left"><strong>Technologinis apra&scaron;ymas:</strong> {{storage}}</p>
<p align="left"><strong>Technologinis apra&scaron;ymas:</strong> {{serving}}</p>
<p align="left"><strong>Technologinis apra&scaron;ymas:</strong> {{expiry}}</p></td>
</tr>
</tbody>
</table>
<p style="margin-bottom: 0in; line-height: 100%;">&nbsp;</p>