<tbody>
<tr>
<td style="border: 1px solid #000000; padding: 0.02in;" width="63">
<p align="center">{{name}}</p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;" width="63">
<p align="center">{{bruto}}</p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;" width="63">
<p align="center">{{neto}}</p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;" width="63">
<p align="center">Baltymai</p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;" width="79">
<p align="center">Riebalai</p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;" width="63">
<p align="center">Angliav</p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;" width="86">
<p align="center">{{kcal}}</p>
</td>
</tr>
</tbody>