<p style="margin-bottom: 0in; line-height: 100%;">&nbsp;</p>
<table width="626" cellspacing="0" cellpadding="2">
<tbody>
<tr>
<td style="border: none; padding: 0in;" colspan="7" width="622" height="23">
<p align="left"><span style="font-family: Arial;"><span style="font-size: medium;">Įmonės pavadinimas __________________________________</span></span></p>
</td>
</tr>
<tr>
<td style="border: none; padding: 0in;" width="183" height="12">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="79">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="86">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="border: none; padding: 0in;" colspan="7" width="622" height="24">
<p align="center"><span style="font-family: Arial;"><span style="font-size: large;">Technologinė kortelė Nr. ____</span></span></p>
</td>
</tr>
<tr>
<td style="border: none; padding: 0in;" width="183" height="12">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="79">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="86">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="border: none; padding: 0in;" colspan="2" width="249" height="17">
<p align="right">Patiekalo pavadinimas_____</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="79">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="86">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="border: none; padding: 0in;" width="183" height="12">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>s
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="79">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="86">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="border: none; padding: 0in;" width="183" height="20">
<p align="right">Receptūra Nr. 1__</p>
</td>
<td style="border: none; padding: 0in;" colspan="2" width="129">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="79">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="86">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="border: none; padding: 0in;" width="183" height="8">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="79">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="63">
<p>&nbsp;</p>
</td>
<td style="border: none; padding: 0in;" width="86">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
<tbody>
<tr>
<td style="border: 1px solid #000000; padding: 0.02in;" rowspan="2" width="183">
<p>&nbsp;</p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;" colspan="2" width="129">
<p align="center"><strong>Žaliavos kiekis vienai porcijai (g)</strong></p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;" colspan="4" width="302">
<p align="center"><strong>Patiekalo ar gaminio maistinė vertė (g)</strong></p>
</td>
</tr>
</tbody>
<tbody>
<tr>
<td style="border: 1px solid #000000; padding: 0.02in;" width="63">
<p align="center"><strong>Pavadinimas</strong></p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;" width="63">
<p align="center"><strong>Bruto</strong></p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;" width="63">
<p align="center"><strong>Neto</strong></p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;" width="63">
<p align="center"><strong>Baltymai</strong></p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;" width="79">
<p align="center"><strong>Riebalai</strong></p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;" width="63">
<p align="center"><strong>Angliav.</strong></p>
</td>
<td style="border: 1px solid #000000; padding: 0.02in;" width="86">
<p align="center"><strong>Kcal.</strong></p>
</td>
</tr>
</tbody>
</table>